// Fonts imports and Typography file.
@import "../abstracts/variables";
@import "../abstracts/mixins";

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight:$fw-bold;
	color: $mainColor;   
}

h1, .h1{   
	font-size: 39px;
	line-height: 40px;


}

h2, .h2{
	font-size: calc(24px + 2vw);
	line-height: calc(30px + 2vw);
	a {
		color: $white;
		font-size: 12px;
		line-height: 30px;
	}

	@include mediaq('>MD') {
		@include rem(34);
		line-height: 40px;
	}

	@include mediaq('>XXLG') {
		@include rem(48);
		line-height: 56px;
	}
}

h3, .h3{
	font-size: calc(18.5px + 2vw);
	line-height: calc(23.5px + 2vw);

	@include mediaq('>MD') {
		@include rem(37);
		line-height: 56px;
	}
}

h4, .h4{
	font-size: calc(15px + 2vw);
	line-height: calc(26px + 2vw);

	@include mediaq('>MD') {
		@include rem(22);
		line-height: 32px;
	}
}

h5, .h5{
	font-size: calc(12px + 2vw);
	line-height: calc(22px + 2vw);

}

h6, .h6{
	font-size: calc(14px + 2vw);
	line-height: calc(24px + 2vw);

	@include mediaq('>MD') {
		@include rem(18);
		line-height: 26px;
	}
}

// Editable - Must be direct parent
.Editable{
	> * {
		&:first-child {
			margin-top: 0!important;
		}
		&:last-child {
			margin-bottom: 0!important;
		}
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, h6 {
		margin-top: 1em;
		margin-bottom: 0.5em;
	
	}

	h5 {
		color: $white;
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 0.5px;

		@include mediaq('>MD') {
			font-size: 24px;
			line-height: 35px;
			letter-spacing: 0.6px;
		}
	}

	a {
		color: $white;
		font-size: 12px;
		line-height: 18px;
		&:hover, &:active, &:focus {
			color: $white;
		}

		@include mediaq('>LG') {
			font-size: 13px;
			line-height: 20px;
		}

	}

	p {
		font-size: 11px;
		font-family: $mainF;
		line-height: 20px;
		color: $secondaryColor;

		@include mediaq('>LG') {
			font-size: 15px;
			line-height: 29px;
		}

		@include mediaq('>XLG') {
			font-size: 19px;
			line-height: 39px;
		}
	}
}

// Paragraphe
p, blockquote{
	font-size: 10px;
	line-height: 18px;
	margin-bottom: 1.3em;
	
}

// Links
a {
	text-decoration: none; 
	font-weight: $fw-medium; 
	color: $activeColor; 
	&:hover, &:active, &:focus{
		color: $secondaryColor;
		text-decoration: none;
	}
}


// Unordered (ul) and ordered (ol) lists
ul, ol {
	&[class] {
		list-style: none;
		padding: 0;
	}

	// Style if no class is applied 
	&:not([class]) {
		padding-left: 1.5rem;
	}

	&.bordered {
		li:not(:last-child) {
			border-bottom: 1px solid lighten($black, 80%);
		}
	}

	li { 
		padding-bottom: 0.4em;
		margin-bottom: 0.4em;
	}
}

// Blockquote
blockquote {
	border: none;
	padding: 0;
	padding-left: 1.2em;
	position: relative;
	margin: 0;
	&:before{
		position: absolute;
		content: '';
		top: 0.35em;
		height: calc(100% - 0.65em);
		left: 0;
		background: $grayDark;
		width: 0.2em; 
	} 
}