*,
*::before,
*::after {
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 15px;
  padding-top: 15px;
  text-align: left;
  caption-side: bottom; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/*
* pour un projet avec vue-nuxt-base, changer les imports pour:
*

@import
	"~assets/stylesheets/prod/_vars.scss",
	"animations/properties",
	// animations
	"animations/fadeIn/fadeIn.scss";
	
*
*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.ToAnim {
  transition: none !important; }
  .ToAnim.fadeIn {
    opacity: 0; }
    .ToAnim.fadeIn.IsAnim {
      animation-name: fadeIn;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-delay: 0.25s;
      animation-timing-function: cubic-bezier(0.43, 0.045, 0.1, 0.95);
      animation-fill-mode: both;
      backface-visibility: hidden; }
  .ToAnim.fadeInDown {
    opacity: 0; }
    .ToAnim.fadeInDown.IsAnim {
      animation-name: fadeInDown;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-delay: 0.25s;
      animation-timing-function: cubic-bezier(0.43, 0.045, 0.1, 0.95);
      animation-fill-mode: both;
      backface-visibility: hidden; }
  .ToAnim.fadeInUp {
    opacity: 0; }
    .ToAnim.fadeInUp.IsAnim {
      animation-name: fadeInUp;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-delay: 0.25s;
      animation-timing-function: cubic-bezier(0.43, 0.045, 0.1, 0.95);
      animation-fill-mode: both;
      backface-visibility: hidden; }
  .ToAnim.fadeInLeft {
    opacity: 0; }
    .ToAnim.fadeInLeft.IsAnim {
      animation-name: fadeInLeft;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-delay: 0.25s;
      animation-timing-function: cubic-bezier(0.43, 0.045, 0.1, 0.95);
      animation-fill-mode: both;
      backface-visibility: hidden; }
  .ToAnim.fadeInRight {
    opacity: 0; }
    .ToAnim.fadeInRight.IsAnim {
      animation-name: fadeInRight;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-delay: 0.25s;
      animation-timing-function: cubic-bezier(0.43, 0.045, 0.1, 0.95);
      animation-fill-mode: both;
      backface-visibility: hidden; }

.js-firstLoad .FirstLoadAnimation {
  opacity: 1; }

.FirstLoadAnimation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1C2642;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.45s; }
  .FirstLoadAnimation_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 350px; }
    .FirstLoadAnimation_inner svg {
      max-width: 350px; }

@keyframes PageTransitionCurtain-end {
  0% {
    top: 0%;
    bottom: 0%; }
  50% {
    top: 0%;
    bottom: 100%; }
  100% {
    top: 0%;
    bottom: 100%; } }

@keyframes PageTransitionCurtain-begin {
  0% {
    top: 100%;
    bottom: 0%; }
  50% {
    top: 0%;
    bottom: 0%; }
  100% {
    top: 0%;
    bottom: 0%; } }

body.js-firstLoad .PageTransition {
  display: none; }

body.page-show .PageTransition {
  opacity: 0; }

body.page-transition .PageTransition {
  opacity: 1; }

.PageTransition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1C2642;
  opacity: 0;
  transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.35s;
  pointer-events: none;
  z-index: 100; }
  .PageTransition_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 350px; }
    .PageTransition_inner svg {
      max-width: 350px; }

.m-ws .m-ws-item {
  transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.45s; }
  .m-ws .m-ws-item.-translate-gentle {
    transform: translate(0, 25px); }
  .m-ws .m-ws-item-translate-height {
    transform: translate(0, 100%); }
  .m-ws .m-ws-item.-opacity {
    opacity: 0; }
  .m-ws .m-ws-item.-delay-0 {
    transition-delay: 0s !important; }
  .m-ws .m-ws-item.-delay-1 {
    transition-delay: 0.15s !important; }
  .m-ws .m-ws-item.-delay-2 {
    transition-delay: 0.3s !important; }
  .m-ws .m-ws-item.-delay-3 {
    transition-delay: 0.45s !important; }
  .m-ws .m-ws-item.-delay-4 {
    transition-delay: 0.6s !important; }
  .m-ws .m-ws-item.-delay-5 {
    transition-delay: 0.75s !important; }
  .m-ws .m-ws-item.-delay-6 {
    transition-delay: 0.9s !important; }
  .m-ws .m-ws-item.-delay-7 {
    transition-delay: 1.05s !important; }
  .m-ws .m-ws-item.-delay-8 {
    transition-delay: 1.2s !important; }
  .m-ws .m-ws-item.-delay-9 {
    transition-delay: 1.35s !important; }
  .m-ws .m-ws-item.-delay-10 {
    transition-delay: 1.5s !important; }

.m-ws.is-visible .m-ws-item[class*="-translate"] {
  transform: translate(0, 0); }

.m-ws.is-visible .m-ws-item.-opacity {
  opacity: 1; }

.PositionRelative {
  position: relative; }

.ListInline-top {
  font-size: 0; }
  .ListInline-top > [class*="col-"], .ListInline-top > li, .ListInline-top > .ListInline_item {
    display: inline-block !important;
    vertical-align: top;
    float: none !important;
    font-size: 1rem; }

.ListInline-middle {
  font-size: 0; }
  .ListInline-middle > [class*="col-"], .ListInline-middle > li, .ListInline-middle > .ListInline_item {
    display: inline-block !important;
    vertical-align: middle;
    float: none !important;
    font-size: 1rem; }

.ListInline-bottom {
  font-size: 0; }
  .ListInline-bottom > [class*="col-"], .ListInline-bottom > li, .ListInline-bottom > .ListInline_item {
    display: inline-block !important;
    vertical-align: bottom;
    float: none !important;
    font-size: 1rem; }

.TextAlign-center {
  text-align: center; }

.TextAlign-left {
  text-align: left; }

.TextAlign-right {
  text-align: right; }

.FontWeight-thin {
  font-weight: 100; }

.FontWeight-light {
  font-weight: 300; }

.FontWeight-regular {
  font-weight: 400; }

.FontWeight-medium {
  font-weight: 500; }

.FontWeight-bold {
  font-weight: 700; }

.FontWeight-ultrabold {
  font-weight: 900; }

.TextItalic {
  font-style: italic; }

.TextNormal {
  font-style: normal; }

.BreakWord {
  word-wrap: break-word; }

.BlockColor-black {
  background: #000000; }

.BlockColor-white {
  background: #ffffff; }

.BlockColor-mainColor {
  background: #1C2642; }

.BlockColor-secondaryColor {
  background: #636DC2; }

.BlockColor-gray {
  background: gray; }

.BlockColor-grey {
  background: gray; }

.BlockColor-grayDark {
  background: #545454; }

.BlockColor-grayLight {
  background: #bfbfbf; }

.BlockColor-grayLighter {
  background: #f2f2f2; }

.TextColor-black {
  color: #000000; }

.TextColor-white {
  color: #ffffff; }

.TextColor-mainColor {
  color: #1C2642; }

.TextColor-secondaryColor {
  color: #636DC2; }

.TextColor-gray {
  color: gray; }

.TextColor-grey {
  color: gray; }

.TextColor-grayDark {
  color: #545454; }

.TextColor-grayLight {
  color: #bfbfbf; }

.TextColor-grayLighter {
  color: #f2f2f2; }

.Spaced_thinner {
  padding-top: 20px;
  padding-bottom: 20px; }

.Spaced_thinner-noBottom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-bottom: 0 !important; }

.Spaced_thinner-noTop {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 0 !important; }

.Spaced_thin {
  padding-top: 50px;
  padding-bottom: 50px; }

.Spaced_thin-noBottom {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-bottom: 0 !important; }

.Spaced_thin-noTop {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 0 !important; }

.Spaced_normal {
  padding-top: 80px;
  padding-bottom: 80px; }

.Spaced_normal-noBottom {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-bottom: 0 !important; }

.Spaced_normal-noTop {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-top: 0 !important; }

.Spaced_large {
  padding-top: 110px;
  padding-bottom: 110px; }

.Spaced_large-noBottom {
  padding-top: 110px;
  padding-bottom: 110px;
  padding-bottom: 0 !important; }

.Spaced_large-noTop {
  padding-top: 110px;
  padding-bottom: 110px;
  padding-top: 0 !important; }

.Spaced_larger {
  padding-top: 140px;
  padding-bottom: 140px; }

.Spaced_larger-noBottom {
  padding-top: 140px;
  padding-bottom: 140px;
  padding-bottom: 0 !important; }

.Spaced_larger-noTop {
  padding-top: 140px;
  padding-bottom: 140px;
  padding-top: 0 !important; }

.NoMargin {
  margin: 0 !important; }

.NoPadding {
  padding: 0 !important; }

[data-icon]:not([data-icon="SVG"]):before {
  font-family: "Material Icons" !important;
  content: attr(data-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-feature-settings: 'liga';
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[data-icon="SVG"] {
  position: relative; }
  [data-icon="SVG"] svg {
    fill: #1C2642; }

.Icon, .Icon-center, .Icon-left, .Icon-right {
  position: relative;
  min-width: 1em;
  min-height: 1em; }
  .Icon:before, .Icon-center:before, .Icon-left:before, .Icon-right:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: currentColor; }
  .Icon > svg, .Icon-center > svg, .Icon-left > svg, .Icon-right > svg {
    position: absolute;
    max-width: 1em;
    max-height: 1em;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
    .Icon > svg #bg path, .Icon-center > svg #bg path, .Icon-left > svg #bg path, .Icon-right > svg #bg path {
      fill: #ffffff; }
    .Icon > svg #ic path, .Icon-center > svg #ic path, .Icon-left > svg #ic path, .Icon-right > svg #ic path {
      fill: #1C2642; }

.Icon-center:before {
  left: 50%;
  transform: translate(-50%, -50%); }

.Icon-center > svg {
  left: auto; }

.Icon-left {
  padding-left: 1.6em; }
  .Icon-left:before {
    left: 0; }

.Icon-right {
  padding-right: 1.6em; }
  .Icon-right:before {
    right: 0; }
  .Icon-right > svg {
    left: auto;
    right: 0 !important; }

.FormElement hr {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0; }

.FormElement.Icon-left {
  padding-left: 1.6em; }
  .FormElement.Icon-left:before {
    left: 0; }

.FormElement.Icon-right {
  padding-right: 1.6em; }
  .FormElement.Icon-right:before {
    right: 0; }

.FormElement.FormElement-boxed.Icon-left {
  padding-left: 1.6em; }

.FormElement.FormElement-boxed:before {
  left: 0.8em; }

.FormElement.FormElement-boxed.Icon-right {
  padding-right: 1.6em; }
  .FormElement.FormElement-boxed.Icon-right:before {
    left: auto !important;
    right: 0.8em; }

.FlexParent {
  display: flex; }

.flex-row {
  flex-direction: row !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column {
  flex-direction: column !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.justify-start {
  justify-content: flex-start !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-center {
  justify-content: center !important; }

.justify-between {
  justify-content: space-between !important; }

.justify-around {
  justify-content: space-around !important; }

.align-start {
  align-items: flex-start !important; }

.align-end {
  align-items: flex-end !important; }

.align-center {
  align-items: center !important; }

.align-stretch {
  align-items: flex-stretch !important; }

.flex-fill {
  flex: 1 1 auto !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto; }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      max-width: 760.5px; } }
  @media (min-width: 991px) {
    .container {
      max-width: 983.5px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1192.5px; } }
  @media (min-width: 1450px) {
    .container {
      max-width: 1442.5px; } }
  @media (min-width: 1650px) {
    .container {
      max-width: 1642.5px; } }

@media (min-width: 768px) {
  .container-left-SM {
    padding-left: calc( ((100vw - (768px - 7.5px)) / 2) + (7.5px * 2)) !important; }
  .container-right-SM {
    padding-right: calc( ((100vw - (768px - 7.5px)) / 2) + (7.5px * 2)) !important; } }

@media (min-width: 991px) {
  .container-left-MD {
    padding-left: calc( ((100vw - (991px - 7.5px)) / 2) + (7.5px * 2)) !important; }
  .container-right-MD {
    padding-right: calc( ((100vw - (991px - 7.5px)) / 2) + (7.5px * 2)) !important; } }

@media (min-width: 1200px) {
  .container-left-LG {
    padding-left: calc( ((100vw - (1200px - 7.5px)) / 2) + (7.5px * 2)) !important; }
  .container-right-LG {
    padding-right: calc( ((100vw - (1200px - 7.5px)) / 2) + (7.5px * 2)) !important; } }

@media (min-width: 1450px) {
  .container-left-XLG {
    padding-left: calc( ((100vw - (1450px - 7.5px)) / 2) + (7.5px * 2)) !important; }
  .container-right-XLG {
    padding-right: calc( ((100vw - (1450px - 7.5px)) / 2) + (7.5px * 2)) !important; } }

@media (min-width: 1650px) {
  .container-left-XXLG {
    padding-left: calc( ((100vw - (1650px - 7.5px)) / 2) + (7.5px * 2)) !important; }
  .container-right-XXLG {
    padding-right: calc( ((100vw - (1650px - 7.5px)) / 2) + (7.5px * 2)) !important; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%; }

.col-XXS {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXS-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 320px) {
  .col-XXS {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-XXS-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-XXS-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-XXS-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-XXS-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-XXS-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-XXS-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-XXS-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-XXS-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-XXS-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-XXS-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-XXS-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-XXS-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col-XS {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XS-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 480px) {
  .col-XS {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-XS-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-XS-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-XS-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-XS-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-XS-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-XS-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-XS-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-XS-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-XS-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-XS-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-XS-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-XS-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col-SM {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-SM-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .col-SM {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-SM-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-SM-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-SM-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-SM-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-SM-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-SM-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-SM-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-SM-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-SM-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-SM-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-SM-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-SM-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col-MD {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-MD-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 991px) {
  .col-MD {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-MD-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-MD-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-MD-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-MD-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-MD-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-MD-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-MD-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-MD-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-MD-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-MD-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-MD-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-MD-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col-LG {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-LG-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 1200px) {
  .col-LG {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-LG-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-LG-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-LG-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-LG-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-LG-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-LG-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-LG-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-LG-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-LG-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-LG-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-LG-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-LG-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col-XLG {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XLG-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 1450px) {
  .col-XLG {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-XLG-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-XLG-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-XLG-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-XLG-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-XLG-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-XLG-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-XLG-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-XLG-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-XLG-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-XLG-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-XLG-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-XLG-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col-XXLG {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-XXLG-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 1650px) {
  .col-XXLG {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-XXLG-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-XXLG-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-XXLG-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-XXLG-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-XXLG-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-XXLG-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-XXLG-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-XXLG-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-XXLG-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-XXLG-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-XXLG-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-XXLG-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

/*
* pour un projet avec vue-nuxt-base, changer les imports pour:
*
* @import '~/assets/stylesheets/prod/_vars.scss';
* @import '~/assets/stylesheets/prod/_config.scss';
* @import '~/assets/stylesheets/lib/mediaq/_mediaq.scss';
* @import '~/assets/stylesheets/lib/mixin/mixin.scss';
*
*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #545454;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #0d0d0d;
  background-color: #ffffff; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #1C2642; }

h1, .h1 {
  font-size: 39px;
  line-height: 40px; }
  @media (min-width: 991px) {
    h1, .h1 {
      font-size: 3rem;
      line-height: 56px; } }
  @media (min-width: 1450px) {
    h1, .h1 {
      font-size: 4.875rem;
      line-height: 97px; } }
  @media (min-width: 1650px) {
    h1, .h1 {
      font-size: 6.25rem;
      line-height: 100px; } }

h2, .h2 {
  font-size: calc(24px + 2vw);
  line-height: calc(30px + 2vw); }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 1.5rem;
      line-height: 30px; } }
  @media (min-width: 991px) {
    h2, .h2 {
      font-size: 2.125rem;
      line-height: 40px; } }
  @media (min-width: 1650px) {
    h2, .h2 {
      font-size: 3rem;
      line-height: 56px; } }

h3, .h3 {
  font-size: calc(18.5px + 2vw);
  line-height: calc(23.5px + 2vw); }
  @media (min-width: 991px) {
    h3, .h3 {
      font-size: 2.3125rem;
      line-height: 56px; } }

h4, .h4 {
  font-size: calc(15px + 2vw);
  line-height: calc(26px + 2vw); }
  @media (min-width: 991px) {
    h4, .h4 {
      font-size: 1.375rem;
      line-height: 32px; } }

h5, .h5 {
  font-size: calc(12px + 2vw);
  line-height: calc(22px + 2vw); }

h6, .h6 {
  font-size: calc(14px + 2vw);
  line-height: calc(24px + 2vw); }
  @media (min-width: 991px) {
    h6, .h6 {
      font-size: 1.125rem;
      line-height: 26px; } }

.Editable > *:first-child {
  margin-top: 0 !important; }

.Editable > *:last-child {
  margin-bottom: 0 !important; }

.Editable h1, .Editable h2, .Editable h3, .Editable h4, .Editable h5, .Editable h6,
.Editable .h1, .Editable .h2, .Editable .h3, .Editable .h4, .Editable .h5, .Editable h6 {
  margin-top: 1em;
  margin-bottom: 0.5em; }

.Editable h5 {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px; }
  @media (min-width: 991px) {
    .Editable h5 {
      font-size: 24px;
      line-height: 35px;
      letter-spacing: 0.6px; } }

.Editable a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px; }
  .Editable a:hover, .Editable a:active, .Editable a:focus {
    color: #ffffff; }
  @media (min-width: 1200px) {
    .Editable a {
      font-size: 13px;
      line-height: 20px; } }

.Editable p {
  font-size: 11px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #636DC2; }
  @media (min-width: 1200px) {
    .Editable p {
      font-size: 15px;
      line-height: 29px; } }
  @media (min-width: 1450px) {
    .Editable p {
      font-size: 19px;
      line-height: 39px; } }

p, blockquote {
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 1.3em; }

a {
  text-decoration: none;
  font-weight: 500;
  color: #636DC2; }
  a:hover, a:active, a:focus {
    color: #636DC2;
    text-decoration: none; }

ul[class], ol[class] {
  list-style: none;
  padding: 0; }

ul:not([class]), ol:not([class]) {
  padding-left: 1.5rem; }

ul.bordered li:not(:last-child), ol.bordered li:not(:last-child) {
  border-bottom: 1px solid #cccccc; }

ul li, ol li {
  padding-bottom: 0.4em;
  margin-bottom: 0.4em; }

blockquote {
  border: none;
  padding: 0;
  padding-left: 1.2em;
  position: relative;
  margin: 0; }
  blockquote:before {
    position: absolute;
    content: '';
    top: 0.35em;
    height: calc(100% - 0.65em);
    left: 0;
    background: #545454;
    width: 0.2em; }

.Btn {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 25px;
  border: 2px solid transparent;
  background: #636DC2;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none !important; }
  .Btn:empty {
    padding: 0;
    height: 2.5rem;
    width: 2.5rem; }
  .Btn.Btn-light {
    background: #7982cb !important; }
    .Btn.Btn-light:hover {
      background: #888fd0 !important; }
  .Btn.Btn-dark {
    background: #4d58b9 !important; }
    .Btn.Btn-dark:hover {
      background: #444fae !important; }
  .Btn.Btn-bordered {
    background: none !important;
    color: #ffffff;
    border: 2px solid #ffffff; }
    .Btn.Btn-bordered:hover, .Btn.Btn-bordered:active, .Btn.Btn-bordered:focus {
      background: #727bc8 !important;
      color: #ffffff; }
  .Btn:hover, .Btn:active, .Btn:focus {
    background: #7982cb;
    color: #ffffff; }
  .Btn.Btn-second {
    background: #636DC2; }
    .Btn.Btn-second.Btn-light {
      background: #7982cb !important; }
      .Btn.Btn-second.Btn-light:hover, .Btn.Btn-second.Btn-light:active, .Btn.Btn-second.Btn-light:focus {
        background: #888fd0 !important; }
    .Btn.Btn-second.Btn-dark {
      background: #4d58b9 !important; }
      .Btn.Btn-second.Btn-dark:hover, .Btn.Btn-second.Btn-dark:active, .Btn.Btn-second.Btn-dark:focus {
        background: #444fae !important; }
    .Btn.Btn-second.Btn-bordered {
      border: 2px solid #636DC2 !important;
      color: #636DC2; }
      .Btn.Btn-second.Btn-bordered:hover, .Btn.Btn-second.Btn-bordered:active, .Btn.Btn-second.Btn-bordered:focus {
        background: #636DC2 !important;
        color: #ffffff; }
    .Btn.Btn-second:hover, .Btn.Btn-second:active, .Btn.Btn-second:focus {
      background: #7982cb;
      color: #ffffff; }
  .Btn.Btn-thin {
    padding: 3px 12px; }
  .Btn.Btn-large {
    padding: 20px 95px; }
  .Btn.Btn-medium {
    padding: 15px 90px; }
  .Btn.Btn-round {
    border-radius: 5px 5px 5px 5px !important; }
  .Btn:first-child ~ .Btn {
    margin-left: 0.5em; }

hr {
  border: none;
  height: 1px;
  background: #cccccc;
  margin: 2rem 0; }
  hr.-medium {
    margin: 3rem 0; }
  hr.-large {
    margin: 4rem 0; }
  hr.-thin {
    margin: 1rem 0;
    background: #ebebeb; }

/* // ----------------------------------------
// ALERT MESSAGES
.Alert {
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: center;

	// has-success
	&.has-success {
		background: $has-success;
		color: darken($has-success, 55%);
	}

	// has-warning
	&.has-warning {
		background: $has-warning;
		color: darken($has-warning, 55%);
	}

	// has-error
	&.has-error {
		background: $has-error;
		color: darken($has-error, 55%);
	}
}

.has-error, .has-error + label {  
	color: darken($has-error, 35%); 
}

.has-warning, .has-warning + label {  
	color: darken($has-warning, 40%); 
}

.has-success, .has-success + label{
	color: darken($has-success, 35%); 
} */
label, .Label {
  display: block;
  margin-bottom: .25rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #101625; }

.FormElement {
  position: relative;
  margin-bottom: 25px; }
  .FormElement ::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #1C2642; }
  .FormElement :-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #1C2642; }
  .FormElement ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #1C2642; }
  .FormElement :-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #1C2642; }
  .FormElement ::-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #1C2642; }
  .FormElement :placeholder-shown {
    font-size: 16px;
    line-height: 16px;
    color: #1C2642; }
  .FormElement.FormElement-boxed {
    background: #f2f2f2; }
  .FormElement.FormElement-bordered {
    outline: 1px solid #bfbfbf !important; }
  .FormElement.FormElement_radio, .FormElement.FormElement_checkbox {
    display: inline-block; }
    .FormElement.FormElement_radio.FormElement-boxed, .FormElement.FormElement_checkbox.FormElement-boxed {
      padding: 0.8em 0.8em 0.7em; }
    .FormElement.FormElement_radio input, .FormElement.FormElement_checkbox input {
      display: none !important; }
    .FormElement.FormElement_radio label, .FormElement.FormElement_checkbox label {
      position: relative;
      margin-bottom: 0;
      padding-left: 1.8em; }
      .FormElement.FormElement_radio label:before, .FormElement.FormElement_checkbox label:before {
        content: '';
        position: absolute;
        top: 0.08em;
        left: 0;
        width: 1.1em;
        height: 1.1em;
        background: #ffffff;
        border: 1px solid silver;
        border-radius: 2px; }
    .FormElement.FormElement_radio[class*="radio"] label:before, .FormElement.FormElement_checkbox[class*="radio"] label:before {
      border-radius: 40px; }
    .FormElement.FormElement_radio :checked + label:before, .FormElement.FormElement_checkbox :checked + label:before {
      background: #636DC2;
      border-color: #636DC2; }
    .FormElement.FormElement_radio:first-child ~ .FormElement.FormElement_radio, .FormElement.FormElement_checkbox:first-child ~ .FormElement.FormElement_radio, .FormElement.FormElement_radio:first-child ~ .FormElement.FormElement_checkbox, .FormElement.FormElement_checkbox:first-child ~ .FormElement.FormElement_checkbox {
      margin-left: 0.8em; }
  .FormElement input:not([type="radio"]),
  .FormElement input:not([type="checkbox"]) {
    display: block;
    color: #1C2642;
    font-weight: 700;
    line-height: 32px;
    font-size: 18px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    width: 100%;
    padding: 0.8rem;
    height: 50px;
    background: none;
    border: 1px solid gray;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
  .FormElement.FormElement_upload {
    width: 100%; }
    .FormElement.FormElement_upload input {
      position: absolute;
      height: .1px;
      width: .1px;
      overflow: hidden;
      opacity: .01;
      z-index: -99999; }
    .FormElement.FormElement_upload label {
      width: 100%;
      margin: 0 !important;
      padding: 0.8rem;
      background: none;
      border: none; }
  .FormElement.FormElement_submit [type="submit"].disabled, .FormElement.FormElement_submit [type="submit"].is-disabled {
    pointer-events: none;
    opacity: .45; }
  .FormElement.FormElement_submit span {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -9999; }
  .FormElement.FormElement_select select {
    font-size: 12px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: transparent;
    width: 100%;
    height: 47px;
    padding: 0 1em;
    border: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .FormElement.FormElement_select select::-ms-expand {
      display: none; }
  .FormElement.FormElement_select[class*="Icon"]:before {
    pointer-events: none; }
  .FormElement textarea {
    font-weight: 700;
    color: #1C2642;
    line-height: 32px;
    font-size: 18px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: none;
    width: 100%;
    max-width: 100%;
    height: 252px;
    max-height: auto;
    min-height: 100px;
    padding: 0.8rem;
    border: solid 1px gray; }
  .FormElement hr {
    margin: 0;
    width: 100%;
    background: #d9d9d9 !important; }
  .FormElement input:focus ~ .line {
    width: 100%; }
  .FormElement .line {
    display: inline-block;
    top: calc(100% - 1px);
    z-index: 1000;
    left: 0;
    position: absolute;
    width: 0%;
    height: 1px;
    background: #636DC2;
    transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.3s; }
  .FormElement.has-error, .FormElement.has-success, .FormElement.has-warning {
    margin-bottom: 10px; }
    .FormElement.has-error + label, .FormElement.has-success + label, .FormElement.has-warning + label {
      text-align: center;
      margin-bottom: 25px; }

table {
  width: 100%;
  font-weight: 500;
  margin-bottom: 30px; }
  table th {
    font-size: 0.6875rem;
    text-transform: uppercase; }
  table td {
    font-size: 0.8125rem; }
  table th, table td {
    padding: 10px;
    border: 1px solid #cccccc; }
    table th:empty, table td:empty {
      background: #f2f2f2; }

::-moz-selection {
  background-color: #1C2642;
  color: #ffffff; }

::selection {
  background-color: #1C2642;
  color: #ffffff; }

.Accordions {
  margin-bottom: 2em; }
  .Accordions_row {
    position: relative; }
    .Accordions_row:not(:last-child):before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: gray;
      pointer-events: none; }
    .Accordions_row_header {
      padding-top: 1.3em;
      padding-bottom: 1.3em; }
      .Accordions_row_header .-title {
        margin: 0;
        transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.45s; }
        .Accordions_row_header .-title:before {
          transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.45s; }
    .Accordions_row_content {
      height: 0;
      overflow: hidden;
      transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.45s;
      pointer-events: none; }
      .Accordions_row_content_inner {
        width: 100%;
        padding: 0 0 15px 0;
        transition: all cubic-bezier(0.43, 0.045, 0.1, 0.95) 0.45s 0.15s; }
        .Accordions_row_content_inner .Editable p:last-child {
          margin: 0; }
    .Accordions_row.is-active .Accordions_row_header .-title {
      color: #636DC2; }
      .Accordions_row.is-active .Accordions_row_header .-title:before {
        color: #636DC2; }
    .Accordions_row.is-active .Accordions_row_content {
      pointer-events: all; }

.BrandColor .BrandColor_block [class*="BrandColor_item"] {
  padding: 15px; }

.BrandColor .BrandColor_block.BrandColor_block-mainColor {
  background: #1C2642; }
  .BrandColor .BrandColor_block.BrandColor_block-mainColor [class*="BrandColor_item"]:after {
    color: #ffffff;
    display: block;
    content: "#1C2642";
    font-size: 75%; }
  .BrandColor .BrandColor_block.BrandColor_block-mainColor [class*="BrandColor_item"][class*="-light"] {
    background: #28365f; }
    .BrandColor .BrandColor_block.BrandColor_block-mainColor [class*="BrandColor_item"][class*="-light"]:after {
      content: "#28365f"; }
  .BrandColor .BrandColor_block.BrandColor_block-mainColor [class*="BrandColor_item"][class*="-dark"] {
    background: #101625; }
    .BrandColor .BrandColor_block.BrandColor_block-mainColor [class*="BrandColor_item"][class*="-dark"]:after {
      content: "#101625"; }

.BrandColor .BrandColor_block.BrandColor_block-secondColor {
  background: #636DC2; }
  .BrandColor .BrandColor_block.BrandColor_block-secondColor [class*="BrandColor_item"]:after {
    content: "#636DC2";
    color: #ffffff;
    display: block;
    font-size: 75%; }
  .BrandColor .BrandColor_block.BrandColor_block-secondColor [class*="BrandColor_item"][class*="-light"] {
    background: #8088cd; }
    .BrandColor .BrandColor_block.BrandColor_block-secondColor [class*="BrandColor_item"][class*="-light"]:after {
      content: "#8088cd"; }
  .BrandColor .BrandColor_block.BrandColor_block-secondColor [class*="BrandColor_item"][class*="-dark"] {
    background: #4753b5; }
    .BrandColor .BrandColor_block.BrandColor_block-secondColor [class*="BrandColor_item"][class*="-dark"]:after {
      content: "#4753b5"; }
